{
    "version" : "2018-05-29",
    "operation" : "GetItem",
    "key" : {
        "companyID" : $util.dynamodb.toDynamoDBJson($context.source.companyID),
        "groupID" : $util.dynamodb.toDynamoDBJson($context.source.groupID)
    }
}

