{
    "version" : "2018-05-29",
    "operation" : "DeleteItem",
    "key": {
        "companyID": $util.dynamodb.toDynamoDBJson($context.arguments.companyID),
        "groupID" : $util.dynamodb.toDynamoDBJson($context.arguments.groupID)
    },
    "condition": {
        "expression": "attribute_exists(groupID)"
    }
}
